:root {
	--li-line-height:1rem;
	--nr-li-per-ul:8;
	--small-padding:0.25rem;
	--padding:0.5rem;
	--big-padding:0.75rem;
	--bg-dark-light:#555;
	--bg-light: #fff;
	--bg-light-dark: #ddd;
	--light-accent: #ccc;
	--accent-bg: #fce09d;
	--accent-bg-dark: #e69c27;
	--txt-lighter:#fff;
	--txt-light:#eee;
	--txt-dark:#1f1d1b;
	--txt-darker:#141414;
	--cancel:#8f1f29;
	--cancel-dark:#5c141b;
	--confirm:#48a142;
	--confirm-dark:#367831;
	--options:#3a5c8c;
	--options-dark:#273e5e;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family:
		ui-sans-serif,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif;
}

.make-picker input,
.model-picker input,
.car-picker input{
	width: 100%;
}
.make-picker-container input,
.model-picker-container input,
.car-picker-container input{
	line-height: var(--li-line-height);
	padding: var(--small-padding);
}
.make-picker-container label,
.model-picker-container label,
.car-picker-container label{
	line-height: var(--li-line-height);
	padding: var(--small-padding);
}
.make-picker, .model-picker, .car-picker{
	position: relative;
}
.dropdown-menu{
	position: absolute;
	top: 100%;
	left: 0%;
	z-index: 1000;
	width: 100%;
	background: var(--bg-light);
}

.dropdown-menu ul{
	max-height: calc(var(--nr-li-per-ul) * (2 * var(--small-padding) + var(--li-line-height)));
	overflow-y: scroll;
}
.dropdown-menu li{
	line-height: var(--li-line-height);
	cursor:pointer;	
	padding: var(--small-padding);
	border-bottom: 1px solid var(--light-accent);
	text-align: center;
}
.dropdown-menu li span{
	text-align: center;
}
.car-picker .dropdown-menu li{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	align-items: center;

}
.car-picker-container .dropdown-menu li:first-child{
	display:flex;
	justify-content: center;
}
.dropdown-menu li:hover{
	background: rgba(0, 0, 0, 0.15);
}

.buttons-card{
	display:flex;
}

.buttons-card button{
	flex:1;
}
.car-form {
	display: grid;

	grid-template-columns: 1fr 1fr;

	grid-template-areas:
		"plate        chassi"
		"make-search  month"
		"make-info    year"
		"model-search cc"
		"model-info   engine"
		".            color";

	column-gap: var(--small-padding);
}
.make-picker-wrapper,
.model-picker-wrapper,
.make-picker-container,
.model-picker-container { display: contents; }
/* LEFT */
.car-plate { grid-area: plate; }
.make-picker { grid-area: make-search; }
.make-section { grid-area: make-info; }
.model-picker { grid-area: model-search; }
.model-section { grid-area: model-info; }
/* RIGHT */
.car-chassi { grid-area: chassi; }
.car-month { grid-area: month; }
.car-year { grid-area: year; }
.car-cc { grid-area: cc; }
.car-engine-code { grid-area: engine; }
.car-color-code { grid-area: color; }

/* regular rows */
.form-field {
	display: grid;
	grid-template-columns: 6rem 1fr;
	align-items: center;

	padding: var(--small-padding);
}

.make-section,
.model-section {
	display: grid;
	grid-template-columns: 6rem 1fr auto;
	align-items: center;
	padding: var(--small-padding);
}

.make-picker,
.model-picker {
	position: relative;
	padding: var(--small-padding);
}

.make-picker input,
.model-picker input {
	width: 100%;
}

.buttons-card {
	display: flex;
	height: 100%;
	gap:var(--small-padding);
	padding-left: var(--small-padding);
}

.buttons-card button {
	flex: 1;
	aspect-ratio:1;
}
.car-input{
	display: grid;
	grid-template-columns: auto min-content;
}
.car-picker{
	padding: var(--small-padding);
}

.car-picker-container{
	container-name: car-picker;
	container-type: inline-size;
	background: var(--accent-bg);
	border-radius: 7px;
	border: 1px solid var(--accent-bg-dark);
	border-left: 5px solid var(--accent-bg-dark);
}

.car-picker-container input,
.car-picker-container .dropdown-menu{
	border: solid 1px var(--bg-dark-light);
	border-radius:3px;
	padding: var(--small-padding);
}
*:disabled{
	background: var(--bg-light-dark);
	font-weight: bold;
	color: var(--txt-darker);
}
button{
	border-radius: 5px;
}
button.confirm{
	border:1px solid var(--confirm-dark);
	background: var(--confirm);
	color: var(--txt-lighter);
}
button.options{
	border:1px solid var(--options-dark);
	background: var(--options);
	color: var(--txt-lighter);
}
button.cancel{
	border:1px solid var(--cancel-dark);
	background: var(--cancel);
	color: var(--txt-lighter);
}
button:disabled{
	border:1px solid var(--bg-dark);
	background: var(--bg-dark-light);
	color: var(--txt-ligh);
}
button:hover{
	filter:brightness(1.2);
}
@container car-picker ( max-width: 650px){
	.car-form {
		display: grid;

		grid-template-columns: 1fr;

		grid-template-areas:
			"plate"
			"make-search"
			"make-info"
			"model-search"
			"model-info"
			"chassi"
			"month"
			"year"
			"cc"
			"engine"
			"color";

		column-gap: var(--small-padding);
	}
}
