/* SEARCH BAR */
.search-bar>span{
	position: absolute;
	top: 0;
	left: 0;
	height: calc(var(--line-height) + var(--padding) * 2);
	width: calc(var(--line-height) + var(--padding) * 2);
	display: flex;
	justify-content:center;
	align-items: center;
}
.search-bar>input{
	font-size: var(--font-size);
	line-height: var(--line-height);
	border: 1px solid var(--border-focus);
	border-radius: 5px;
	padding: var(--padding);
	padding-left: calc(var(--line-height) + var(--padding) * 2);
	width:100%;
}
.search-bar input::placeholder{ color: var(--txt-muted);}
.search-bar input:focus{ outline: 2px solid var(--border-focus);}
.dropdown{
	position: absolute;
	top:100%;
	left:0;
	z-index: 1000;
	background: var(--bg-card);
	width: 100%;

	border-radius: 5px;
	border: 1px solid var(--border);

	max-height: calc((var(--line-height) + var(--padding) * 2) * var(--nr-rows));
	overflow-y: scroll;

	button {
		line-height: var(--line-height);
		padding: var(--padding) var(--big-padding) ;
		width: 100%;
		border: none;
		display: flex;

		span{ text-align: left; }
		span:not(:first-child){ font-weight:350; }
		span:first-child{
			font-weight: bold;
			min-width: 150px;
		}

		gap: var(--small-padding);
	}

	li {
		padding: 0;
		border-bottom: 1px solid var(--border-light);
	}
}
.dropdown li button.addEntry {
	span {
		color: var(--primary) ;
		i {padding-right: var(--padding);}
	}
}

/* SELECTED MENU */

.selected-item {
	border: 1px solid var(--border);
	border-radius:5px;

	.item-header {
		background:var(--bg-page);
		display: flex;
		padding: var(--padding);
		align-items: center;
		justify-content: space-between;
		border-bottom: 4px solid var(--primary);

		.item-input{
			display: flex;
			padding: var(--padding) var(--big-padding);
			align-items: center;
			gap: var(--big-padding);


			span:last-child,
			span:first-child{
				padding-right: 0;
				border-right: none;
			}
			span:nth-child(2){
				font-weight: 600;
			}

			span{
				padding-right: var(--big-padding);
				font-size: var(--font-size-big);
				border-right: 2px solid var(--border);
				i{
					font-size: calc(1.5*var(--font-size-big));
				}
			}
		}

		.card-buttons{
			align-self: right;
			button{
				height: 100%;
			}
		}
	}
	.item-info{
		background: var(--bg-card);
	}
}

/**/
.picker-bar {
	width: 100%;
	position: relative;
}
.search-bar{
	width: 100%;
	position: relative;
}
.car-info.hidden{ display: none; }
#car-month{
	text-align: center;
	label{
		width: 60px;
		padding-left: 0;
	}
}
.car-field-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.car-field-date  span{ text-align: center; }
.car-field-plate { display: flex;}
#car-plate {grid-row:1;grid-column:1;}
#car-date {grid-row:1;grid-column:2;}
#car-make {grid-row:2;grid-column:1;}
#car-cc {grid-row:2;grid-column:2;}
#car-model {grid-row:3;grid-column:1;}
#car-engine-code {grid-row:3;grid-column:2;}
#car-chassi {grid-row:4;grid-column:1;}
#car-color {grid-row:4;grid-column:2;}
@media (max-width: 500px) {
	.car-info { grid-template-columns: minmax(0, 1fr); }
	#car-plate {grid-row:1;grid-column:1;}
	#car-make {grid-row:2;grid-column:1;}
	#car-model {grid-row:3;grid-column:1;}
	#car-chassi {grid-row:4;grid-column:1;}
	#car-date {grid-row:5;grid-column:1;}
	#car-cc {grid-row:6;grid-column:1;}
	#car-engine-code {grid-row:7;grid-column:1;}
	#car-color {grid-row:8;grid-column:1;}
}

