.car-picker {
	padding: 1rem;
}

.m-searching.c-searching .dropdown li:first-child button{
	display:block;
}

.m-searching.c-searching .dropdown li button{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.car-header {
	display: flex;
	width: 100%;
	gap: var(--small-padding);
}

.car-header .car-input {
	min-width: 0;
	flex-grow:1;

	background: var(--accent);
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bolder;
}

.car-header .card-buttons button {
	aspect-ratio:1;
	height: calc(var(--line-height) + 2* var(--small-padding) + 2px);
	align-items: center;
}

.car-header .card-buttons {
	display: flex;
	gap:var(--small-padding);
}

.car-field{
	display: flex;
	height: calc((var(--small-padding) * 2) +var(--line-height) + 2px);
	align-items: center;
}

.car-field label{
	width: 100px;
}

.car-field input:disabled{
	background: var(--accent);
	filter: none !important;
}

.car-field input{
	flex: 1;
	line-height: var(--line-height);
	padding: var(--small-padding);
	border: 1px solid var(--accent);
	border-radius: 3px;
	font-weight:bolder;
	text-align: center;
}
.car-info.hidden{
	display: none;
}

#car-month{
	text-align: center;
}

#car-month label{
	width: 60px;
	padding-left: 0;
}
.car-info {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: var(--small-padding);
	background: var(--bg-dark);
	margin-top: var(--small-padding);
	padding: var(--small-padding);
	padding-top: calc(2*var(--small-padding));
	border: 1px solid var(--accent);
	border-top: 5px dashed var(--accent);
	padding-bottom: calc(2*var(--small-padding));
	border-radius: 0 0 5px 5px;
}
.car-field label{
	color: var(--txt-light);
	padding-left: var(--small-padding);
}

.car-field {
	display: grid;
	grid-template-columns: 100px minmax(0, 1fr);
	align-items: center;
	gap: var(--small-padding);
	min-width: 0;
}

.car-field-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.car-field-date input{
	flex: 1;
	justify-content: space-between;
}

.car-field-date  span{
	font-weight: bolder;
	color: var(--txt-light);
	text-align: center;
	width: 20px;
}

.car-field-plate {
	display: flex;
	gap: var(--small-padding);
}
.car-field-plate button{
	aspect-ratio: 1;
	width: 30px;
}

.car-field input,
.make-picker-container {
	width: 100%;
	min-width: 0;
	font-weight: bolder;
	color: var(--txt-dark);
}
#car-plate {grid-row:1;grid-column:1;}
#car-date {grid-row:1;grid-column:2;}
#car-make {grid-row:2;grid-column:1;}
#car-cc {grid-row:2;grid-column:2;}
#car-model {grid-row:3;grid-column:1;}
#car-engine-code {grid-row:3;grid-column:2;}
#car-chassi {grid-row:4;grid-column:1;}
#car-color {grid-row:4;grid-column:2;}
@media (max-width: 500px) {

.car-info {
	grid-template-columns: minmax(0, 1fr);
}

#car-plate {grid-row:1;grid-column:1;}
#car-make {grid-row:2;grid-column:1;}
#car-model {grid-row:3;grid-column:1;}
#car-chassi {grid-row:4;grid-column:1;}
#car-date {grid-row:5;grid-column:1;}
#car-cc {grid-row:6;grid-column:1;}
#car-engine-code {grid-row:7;grid-column:1;}
#car-color {grid-row:8;grid-column:1;}
}
