* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--nr-rows: 8;
}

.m-picker {
	position: relative;
	width: 100%;
	padding: 1rem;
}

.m-searching {
	width: 100%;
	position: relative;
}

.m-selected {
	display: flex;
	width: 100%;
	gap: var(--small-padding);
}

.m-selected input {
	min-width: 0;
	flex-grow:1;
}

.m-selected .card-buttons button {
	aspect-ratio:1;
	height: calc(var(--line-height) + 2* var(--small-padding) + 2px);
	align-items: center;
}
.m-selected .card-buttons {
	display: flex;
	gap:var(--small-padding);
}

.m-selected input:disabled{
	filter: none !important;
	font-weight: bolder;
	background: var(--accent);
	color: var(--txt-dark);
}
.m-searching input {
	width: 100%;
}

.m-selected input,
.m-searching input {
	border: 1px solid var(--accent);
	border-radius: 3px;
	outline: none;

	line-height: var(--line-height);
	background: var(--bg-light);
	padding: var(--small-padding);
	text-align: center;
}

.m-searching input:focus {
	outline: 2px solid var(--accent);
	outline-offset: 0;
}

.dropdown {
	position: absolute;

	top: 100%;
	left: 0;
	right: 0;

	margin-top: 1px;

	background: var(--bg-light);

	max-height: calc(var(--nr-rows) * var(--line-height));
	overflow-y: auto;

	z-index: 1000;
	border-radius: 3px;
}

.dropdown::-webkit-scrollbar {
	display: none;
}

.dropdown li {
	border-bottom: 1px dashed var(--accent);
}

.dropdown li button {
	width: 100%;
	border: none;
	background: var(--bg-light);

	line-height: var(--line-height);
	padding: var(--small-padding);
	text-align: center;

	font: inherit;
	color: inherit;
	cursor: pointer;
}

.dropdown li button:focus,
.dropdown li button:hover {
	background: var(--accent);
	color: var(--txt-light);
	cursor: pointer;
	outline: none;
}

.dropdown li button:focus span ,
.dropdown li button:hover span {
	color: var(--txt-dark);
}

.dropdown li button span {
	color: var(--accent);
}
