:root{
	--small-padding: 0.25rem;
	--line-height: 1.25rem;
	--bg-dark: #333;
	--bg-light: #eee;
	--txt-dark: #333;
	--txt-light: #eee;
	--accent:#f59e0b;
	--accent-dark: #111;
	--accent-light: #fff;
	--disabled-brightness: 0.85;
	--confirm: green;
	--confirm-dark: darkgreen;
	--cancel: red;
	--cancel-dark: darkred;
	--options: blue;
	--options-dark: darkblue;
}

* {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;	
 }

.confirm{
	color: var(--txt-light);
	background: var(--confirm);
}

.confirm:hover{
	color: var(--txt-light);
	background: var(--confirm-dark);
}
.cancel{
	color: var(--txt-light);
	background: var(--cancel);
}
.cancel:hover{
	color: var(--txt-light);
	background: var(--cancel-dark);
}
.options{
	color: var(--txt-light);
	background: var(--options);
}
.options:hover{
	color: var(--txt-light);
	background: var(--options-dark);
}
