:root{
	--small-padding: 0.25rem;
	--line-height: 1.25rem;
	--bg-dark: #333;
	--bg-light: #eee;
	--txt-dark: #333;
	--txt-light: #eee;
	--accent:#f59e0b;
	--accent-dark: #111;
	--accent-light: #fff;
	--disabled-brightness: 0.85;
	--confirm: #30bf58;
	--confirm-dark: #269144;
	--cancel: #cc2525;
	--cancel-dark: #9c1c1c;
	--options: #4787d6;
	--options-dark: #396dad;
	--options-2: var(--accent);
	--options-2-dark: #d98e0f;
	--bg-section-light: #edd6c0;
	--bg-section-dark: #4d4843;
	--bg-section-lighter: #ede2d8;

}

* {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;	
 }

.confirm{
	color: var(--txt-light);
	background: var(--confirm);
}

.confirm:hover{
	color: var(--txt-light);
	background: var(--confirm-dark);
}
.cancel{
	color: var(--txt-light);
	background: var(--cancel);
}
.cancel:hover{
	color: var(--txt-light);
	background: var(--cancel-dark);
}
.options{
	color: var(--txt-light);
	background: var(--options);
}
.options:hover{
	color: var(--txt-light);
	background: var(--options-dark);
}

.options-2{
	color: var(--txt-light);
	background: var(--options-2);
}
.options-2:hover{
	color: var(--txt-light);
	background: var(--options-2-dark);
}

