.page{
	padding: 0 var(--big-padding);
	color: var(--txt-dark);
}
.page .content{
	display: flex;
	flex-direction: column;
	gap: var(--big-padding);
	padding: var(--big-padding) 0;
	max-width: 1400px;
	margin: 0 auto;
}
