.car-client-info{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.car-info-card{
	width: 100%
/*	width: 60%;*/
}
.client-info-card{
	/*width: 40%;*/
}
@media (max-width: 500px){

}
