.service-page{
	display: flex;
	flex-direction: column;
	gap: var(--big-padding);
	padding: var(--big-padding);
}

.service-done-info-card,
.service-signed-info-card{
	border: 1px solid var(--border);
	border-radius: 0 0 10px 10px;

	.header {
		display: flex;
		align-items: center;
		gap: var(--padding);

		i{
			font-size: calc(1.5 * var(--font-size-big));
		}
		h1{
			font-size: var(--font-size-big);
		}
		padding:calc(var(--big-padding) + var(--padding) + 2.5px ) var(--big-padding) ;
		background: var(--bg-page);
	}
	.body{
		padding: var(--big-padding);
		display: flex;
		flex-direction: column;
		gap: var(--big-padding);
		width: 100%;
		background: var(--bg-card);
		border-radius: 0 0 10px 10px;

		.text-entry{
			width: 100%;
			position: relative;

			label{
				position:absolute;
				padding: var(--padding);
				top: 2px;
				left: 2px;
				font-size: var(--font-size-small);
				background: var(--bg-card);
				border-radius: 10px 10px 0 0;				
			}
			textarea{
				resize: none;
				padding: var(--padding);
				padding-top: calc( 4 * var(--padding));
				border: solid 1px var(--border);
				width: 100%;
				color: var(--txt-light);
				font-size: var(--font-size);
				height: 12rem;
			}

			&:last-child textarea{ border-radius: 0 0 5px 5px; }
			textarea:disabled,
			&:has(textarea:disabled) label {
				background: var(--bg-disabled);
			}
		}
	};
}

.service-signed-info-card{
	.header{
		border-bottom: 4px solid #ba2323;
	}
}

.service-done-info-card{
	.header{
		border-bottom: 4px solid #e8aa2e;
	}
}
.service-applied-products-card{
	.header{
		border-bottom: 4px solid #ff8fff;
	}
}
.service-user-times-card{
	.header{
		border-bottom: 4px solid #a3540a;
	}
}
.service-user-times-card,
.service-applied-products-card{
	border: 1px solid var(--border);
	border-radius: 0 0 10px 10px;

	.header {
		display: flex;
		align-items: center;
		gap: var(--padding);

		i{
			font-size: calc(1.5 * var(--font-size-big));
		}
		h1{
			font-size: var(--font-size-big);
		}
		padding:calc(var(--big-padding) + var(--padding) + 2.5px ) var(--big-padding) ;
		background: var(--bg-page);

	}
}

#signing {
	display: none;
}

.coloring-buttons{
	display: flex;
	gap: var(--padding);

	button{
		aspect-ratio: 1;
		height: var(--line-height);
		border-radius: 5px;
		border: none;
		color: var(--txt-dark);
		i{
		font-size: calc(1.5 * var(--font-size-big));
		}
	}

}
.service-applied-products-card{
	.body{
		padding: var(--big-padding);
		padding-top: 0;
		table{
			width:100%;

			tr{
				display: grid;
				grid-template-columns: repeat(4, 1fr) 120px 80px;
				gap: var(--big-padding);

				border-bottom: 1px solid var(--border);

				th{
					width:100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: calc(var(--line-height) + 1px + 2 * var(--padding));
					font-size: var(--font-size-big)
				}

				&:not(.button-row) td:not(.product-input){
					width:100%;
					text-align: center;
					vertical-align: center;
					height: calc(var(--line-height) + 1px + 2 * var(--padding));
					input,
					select,
					button{						padding: var(--padding);
						background: var(--bg-card);
						width: 100%;
						line-height: var(--line-height);
						height: 100%;
						background: var(--bg-page);
					}

					*:not(:disabled):hover,
					*:not(:disabled):focus{
						background: var(--bg-page-dark);
					}
					select:disabled{
						appearance: none;
						-webkit-appearance: none;
						-moz-appearance: none;
					}

					&:not(:nth-last-child(2)):not(:last-child) * {
						border: none;
						text-align: center;
					}
					&:last-child, &:nth-last-child(2){
						padding: var(--padding);
						button {
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 5px;

						}
					}

					button{
						aspect-ratio: 1;
						background: var(--bg-card);
					}

				}


				&:first-child{
					border-bottom: 5px solid var(--border);
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}	

		.button-row,
		.add-ap{
			height: calc(var(--line-height) + 1px + 2 * var(--padding));
		}

		.button-row{
			padding:0;
			td{
				grid-column: span 6;
				display: flex;
			}
			button {
				background: var(--bg-page);
				border: none;
				width: 100%; 
				height: calc(var(--line-height) + 1px + 2 * var(--padding));
			}
			button:hover{
				background: var(--bg-page-dark);
			}
		}

		.product-input{
			grid-column: span 3;
			input{
				background: var(--bg-card);
			}
			.search-bar span {
				height: calc(var(--line-height) + var(--padding) * 1 );
				top: calc(var(--padding) / 2);
			}
		}
	}
}

@media print{
	#signing{display: block;}
}

